{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted | date:"F d,Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>

    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'posts:post-like' post.pk %}" method="POST">
      {% csrf_token %}
      {% if post.total_likes %}
      <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-success py-2">Like {{ post.total_likes }} </button>
      {% else %}
      <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-primary py-2">Like {{ post.total_likes }} </button>
      {% endif %}
    </form>
    {% else %}
      <a class="btn btn-primary", href="{% url 'login' %}">Login & Like!</a>
    {% endif %}
</article>

{% endfor %}

{% endblock content %}